@import '../../assets/vars/vars.css';

.widgetcontentfinish-righthalf {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.widgetcontentfinish-infoscontainer {
    display: flex;

    font-size: 30px;
    flex-direction: column;
    color: var(--dark-green);
    font-style: var(--hoori-font);
    font-weight: bold;
}

.widgetcontentfinish-resultcontainer {
    color: var(--grey-font);
    font-style: var(--hoori-font);
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 12px;
}

.widgetcontentfinish-resultlargetext {
    font-size: 30px;
}

.widgetcontentfinish-resultregulartext {
    font-size: 20px;
}