.widgetcontenthistory-maincontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
}

.widgetcontenthistory-righthalf {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 24px;
}

.widgetcontenthistory-select {
    border-color: green;
}

.widgetcontenthistory-selectoutline {
    /* color: var(--grey-font);
    border-color: green;
    border-width: 5px; */
}

.widgetcontenthistory-nbdatura {
    padding-top: 8px;
}

.widgetcontenthistory-imgviewer {
    display: flex;
    flex: 1;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.widgetcontenthistory-divnocover {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.widgetcontenthistory-divcovers {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.widgetcontenthistory-textnocover {
    text-align: center;
    color: var(--grey-font);
    font-style: var(--hoori-font);
    font-weight: bold;
    font-size: 18px;
}