@import '../../assets/vars/vars.css';

.widgetcontentpause-righthalf {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.widgetcontentpause-infoscontainer {
    display: flex;

    padding: 20px;

    font-size: 30px;
    flex-direction: column;
    color: var(--dark-green);
    font-style: var(--hoori-font);
    font-weight: bold;
}

.widgetcontentpause-pb {
    display: flex;
    padding: 20px;
}

.widgetcontentpause-btnscontainer {
    flex: 1;
    display: flex;
    gap: 55px;
    justify-content: space-evenly;
    align-items: center;
}